.side-block2{
    display: block;
    position: relative;
    top: 45px;
    margin-left: 50px;
    width: 217px;
    height: 500px; 
    overflow: auto;
    background-color: black;
}

.button{
    margin: 0;
}

audio { 
    width: 720px;
    display: block;
    margin:20px;
    position: absolute;
    top: 300px;
    left: 379px;
}


.search-conatainer {
    display: block;
    position: absolute;
    left: 50px;
    top: 18vh;
}

/* Style the search field */
.example input[type=text] {
    width: 141px;
}
.example button {
    width: 55px;

}

.bird {
    display: block;
    position: absolute;
    top: 300px;
    left: 70vw;
    width: 350px;
    height: auto;
    background-color: transparent;
    font-size: 35px;
    font-weight: 800;
    margin-left: 50px;
}

.bird img{
    padding: 0;
    height: 350px;
    width: 350px;
}

.bird p{
    padding: 0;
    margin:  0;
}

.bird_name{
    display: block;
    position: absolute;
    top: 180px;
    left: 400px;
    width: 700px;
    margin: 10px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: whitesmoke;
}

.text{
    display: block;
    position: absolute;
    top: 365px;
    left: 400px;
    width: 700px;
    height: 300px;
    padding: 10px;
    color: green;
    font-size: 20px;
    font-weight: 500;
    background-color: whitesmoke;
}

